<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <%= javascript_include_tag 'save_button' %>
  <center><h1> Is this your cookbook? </h1></center> 
    <section id="user_entries">
      <p>Title: <%= @cookbook.title %></p>
      <p>Author: <%= @cookbook.author %></p>
      <p>Publisher: <%= @cookbook.publisher %></p>
      <p>ISBN: <%= @cookbook.isbn %></p>
      <p>Nation of Origin: <%= @cookbook.country_cuisine %></p>
    </section>

    <section id="cookbook_match">
      <%= form_with model: @cookbook, url: user_library_cookbooks_path(@user.id, @user.library.id), method: :post do |form| %>

        <% @google_books_matches .each do |book_match| %>
          <p><%= form.radio_button :user_entry, "match_#{@count}" %></p>
          <p><%= form.label :"user_entry_match_#{@count}", "Title: #{book_match.title}\n" %></p>
          <p><%= form.label :"user_entry_match_#{@count}", "Author: #{book_match.authors}\n" %></p>
          <p><%= form.label :"user_entry_match_#{@count}", "Description: #{book_match.description}\n" %></p>
          <p><%= form.label :"user_entry_match_#{@count}", "#{book_match.display_isbn}" %></p>
          <p><%= form.label :"user_entry_match_#{@count}", "Language: #{book_match.language}\n" %></p>
          <% @count += 1 %>
        <% end %>

        <%= form.radio_button :user_entry, true %>
        <%= form.label :user_entry_true, "None of the books above match, record by cookbook as entered." %>
        <%= form.submit "Save Cookbook", disabled: true, id: "save_button" %>

        <%= form.hidden_field :title, value: @cookbook.title %>
        <%= form.hidden_field :author, value: @cookbook.author %>
        <%= form.hidden_field :publisher, value: @cookbook.publisher%>
        <%= form.hidden_field :country_cuisine, value: @cookbook.country_cuisine %>
        <%= form.hidden_field :isbn, value: @cookbook.isbn %>
        <%= form.hidden_field :library_id, value: @user.library.id %>
      <% end %>
      <%= button_to "Cancel", user_libraries_path(@user.id), method: :get %>
    </section>
</body>
</html>